sensfloor/sensfloor.json
[
    {
        "id": "235276ecb41ab11f",
        "type": "tab",
        "label": "SENSFLOOR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6a59c133c379574e",
        "type": "group",
        "z": "235276ecb41ab11f",
        "name": "automatic cmd ",
        "style": {
            "label": true
        },
        "nodes": [
            "bebbd260a30a3f1a",
            "bb4db939cf406b5c",
            "618bbbb968ed0711",
            "e01aa7e37688afd6",
            "9f5d21d49ccddb38",
            "7bb623dbc8f67f84"
        ],
        "x": 754,
        "y": 19,
        "w": 532,
        "h": 142
    },
    {
        "id": "b7e8cdd650aa9af7",
        "type": "group",
        "z": "235276ecb41ab11f",
        "name": "sensfloor receiving event and setup action&speech",
        "style": {
            "label": true
        },
        "nodes": [
            "ac5158f80d7a535f",
            "55f775e644f0c88a",
            "2550e646334ccd16",
            "460a0b1460675acc",
            "f62299486c8d32a2",
            "4e40dc24eb2840e4",
            "f773b8eefcf0bb45",
            "d12aed0a29f951eb",
            "f5ee6b0301ec0b2b",
            "4357a570d96f4cdf",
            "22956b35f23d69bd",
            "8764ab681159fb4f",
            "ae6d10ceab293f44",
            "1b5fdbab9264cbfc",
            "69ca2a84ce2a01f4",
            "257ddca67ace0d7a",
            "9d422d5bc8319019",
            "c34c39577c1384c1",
            "7433d71d5a2e2fa8",
            "0bce61397b909df3",
            "8ad3dec0ce6c7d4d",
            "ca391518c5dfd833",
            "f5ed2959197c8526",
            "675c8a74acc57c92",
            "a1c95a36eeffca66",
            "c9df3b7eb7737370",
            "6272e2fd70a85b44",
            "f1d9beb6451edb07",
            "edeb21444848f4aa",
            "23ba0bfd214b8064",
            "80c72c4b8b6e8cf4",
            "558661034b65d8b8",
            "f458721efd86b8a1",
            "e32b4097ed7177b2",
            "acfb99096a8cdc21",
            "62e8cc84d0a088ab",
            "69a5c2c70bdfcceb",
            "da97be1af75d265c",
            "3d0befd187bd376e"
        ],
        "x": 34,
        "y": 19,
        "w": 592,
        "h": 562
    },
    {
        "id": "f458721efd86b8a1",
        "type": "junction",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "0bce61397b909df3",
                "ca391518c5dfd833"
            ]
        ]
    },
    {
        "id": "e32b4097ed7177b2",
        "type": "junction",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "x": 420,
        "y": 540,
        "wires": [
            [
                "3d0befd187bd376e"
            ]
        ]
    },
    {
        "id": "acfb99096a8cdc21",
        "type": "junction",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "8764ab681159fb4f",
                "ae6d10ceab293f44"
            ]
        ]
    },
    {
        "id": "62e8cc84d0a088ab",
        "type": "junction",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "1b5fdbab9264cbfc",
                "f5ed2959197c8526"
            ]
        ]
    },
    {
        "id": "69a5c2c70bdfcceb",
        "type": "junction",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "x": 280,
        "y": 540,
        "wires": [
            [
                "69ca2a84ce2a01f4",
                "a1c95a36eeffca66"
            ]
        ]
    },
    {
        "id": "da97be1af75d265c",
        "type": "junction",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "x": 280,
        "y": 460,
        "wires": [
            [
                "257ddca67ace0d7a",
                "6272e2fd70a85b44"
            ]
        ]
    },
    {
        "id": "3d0befd187bd376e",
        "type": "junction",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "x": 500,
        "y": 540,
        "wires": [
            [
                "7433d71d5a2e2fa8",
                "8ad3dec0ce6c7d4d"
            ]
        ]
    },
    {
        "id": "bebbd260a30a3f1a",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "6a59c133c379574e",
        "name": "Prepare",
        "func": "let module = global.get(\"module\");\nlet payload = msg.payload;\nmsg.payload = {};\nmsg.payload.input = payload;\nif(msg.siteId !== undefined){\n    msg.payload.siteId = msg.siteId;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 120,
        "wires": [
            [
                "bb4db939cf406b5c"
            ]
        ]
    },
    {
        "id": "bb4db939cf406b5c",
        "type": "delay",
        "z": "235276ecb41ab11f",
        "g": "6a59c133c379574e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1005,
        "y": 120,
        "wires": [
            [
                "618bbbb968ed0711",
                "7bb623dbc8f67f84"
            ]
        ],
        "l": false
    },
    {
        "id": "618bbbb968ed0711",
        "type": "debug",
        "z": "235276ecb41ab11f",
        "g": "6a59c133c379574e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1055,
        "y": 80,
        "wires": [],
        "l": false
    },
    {
        "id": "e01aa7e37688afd6",
        "type": "link in",
        "z": "235276ecb41ab11f",
        "g": "6a59c133c379574e",
        "name": "sensfloor cmd in",
        "links": [
            "0bce61397b909df3"
        ],
        "x": 795,
        "y": 120,
        "wires": [
            [
                "bebbd260a30a3f1a"
            ]
        ]
    },
    {
        "id": "9f5d21d49ccddb38",
        "type": "comment",
        "z": "235276ecb41ab11f",
        "g": "6a59c133c379574e",
        "name": "README",
        "info": "This flow receive the commands from the sensfloor group and send them to the Speech To Text\n",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "7bb623dbc8f67f84",
        "type": "mqtt out",
        "z": "235276ecb41ab11f",
        "g": "6a59c133c379574e",
        "name": "",
        "topic": "hermes/nlu/query",
        "qos": "",
        "retain": "",
        "broker": "f96ab142.d8bab8",
        "x": 1170,
        "y": 120,
        "wires": []
    },
    {
        "id": "9897ff97d456aab2",
        "type": "inject",
        "z": "235276ecb41ab11f",
        "name": "ON WC",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "allume les toilettes",
        "payloadType": "str",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "bebbd260a30a3f1a"
            ]
        ]
    },
    {
        "id": "ac5158f80d7a535f",
        "type": "comment",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "SenseFloor (here user and pw skyresponse stories)",
        "info": "User1 Skyresponse: assistant de stories\npw: assistant\n\nUser2 Skyresponse: stories\npw: ...Asc..",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "55f775e644f0c88a",
        "type": "http in",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "[get] fall",
        "url": "/sensfloor/fall",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "d12aed0a29f951eb",
                "edeb21444848f4aa"
            ]
        ]
    },
    {
        "id": "2550e646334ccd16",
        "type": "http in",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "[get] room_in",
        "url": "/sensfloor/room_in",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "f773b8eefcf0bb45",
                "acfb99096a8cdc21"
            ]
        ]
    },
    {
        "id": "460a0b1460675acc",
        "type": "http in",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "[get] room_out",
        "url": "/sensfloor/room_out",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "f5ee6b0301ec0b2b",
                "62e8cc84d0a088ab"
            ]
        ]
    },
    {
        "id": "f62299486c8d32a2",
        "type": "http in",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "[get] bed_in",
        "url": "/sensfloor/bed_in",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "22956b35f23d69bd",
                "da97be1af75d265c"
            ]
        ]
    },
    {
        "id": "4e40dc24eb2840e4",
        "type": "http in",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "[get] bed_out",
        "url": "/sensfloor/bed_out",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "4357a570d96f4cdf",
                "69a5c2c70bdfcceb"
            ]
        ]
    },
    {
        "id": "f773b8eefcf0bb45",
        "type": "http response",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 270,
        "y": 260,
        "wires": []
    },
    {
        "id": "d12aed0a29f951eb",
        "type": "http response",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 270,
        "y": 180,
        "wires": []
    },
    {
        "id": "f5ee6b0301ec0b2b",
        "type": "http response",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "4357a570d96f4cdf",
        "type": "http response",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 270,
        "y": 500,
        "wires": []
    },
    {
        "id": "22956b35f23d69bd",
        "type": "http response",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 270,
        "y": 420,
        "wires": []
    },
    {
        "id": "8764ab681159fb4f",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "room_in_speech",
        "func": "let module = global.get(\"module\");\nlet siteId = msg.payload.siteId;\nmsg = {};\nmsg.payload = module.feedback(module.settingsGetValue(\"msgLang\"), siteId, \"Hello\");\nmsg.payload.text = flow.get(\"room_in_speech\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 335,
        "y": 300,
        "wires": [
            [
                "e32b4097ed7177b2"
            ]
        ],
        "outputLabels": [
            "automatic cmd"
        ],
        "icon": "font-awesome/fa-file-sound-o",
        "l": false
    },
    {
        "id": "ae6d10ceab293f44",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "room_in_action",
        "func": "msg = {};\nmsg.payload = flow.get(\"room_in_action\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 355,
        "y": 260,
        "wires": [
            [
                "c34c39577c1384c1"
            ]
        ],
        "l": false
    },
    {
        "id": "1b5fdbab9264cbfc",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "room_out_speech",
        "func": "let module = global.get(\"module\");\nlet siteId = msg.payload.siteId;\nmsg = {};\nmsg.payload = module.feedback(module.settingsGetValue(\"msgLang\"), siteId, \"Hello\");\nmsg.payload.text = flow.get(\"room_out_speech\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 335,
        "y": 380,
        "wires": [
            [
                "e32b4097ed7177b2"
            ]
        ],
        "outputLabels": [
            "automatic cmd"
        ],
        "icon": "font-awesome/fa-file-sound-o",
        "l": false
    },
    {
        "id": "69ca2a84ce2a01f4",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "bed_out_speech",
        "func": "let module = global.get(\"module\");\nlet siteId = msg.payload.siteId;\nmsg = {};\nmsg.payload = module.feedback(module.settingsGetValue(\"msgLang\"), siteId, \"Hello\");\nmsg.payload.text = flow.get(\"bed_out_speech\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 335,
        "y": 540,
        "wires": [
            [
                "e32b4097ed7177b2"
            ]
        ],
        "outputLabels": [
            "automatic cmd"
        ],
        "icon": "font-awesome/fa-file-sound-o",
        "l": false
    },
    {
        "id": "257ddca67ace0d7a",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "bed_in_speech",
        "func": "let module = global.get(\"module\");\nlet siteId = msg.payload.siteId;\nmsg = {};\nmsg.payload = module.feedback(module.settingsGetValue(\"msgLang\"), siteId, \"Hello\");\nmsg.payload.text = flow.get(\"bed_in_speech\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 335,
        "y": 460,
        "wires": [
            [
                "e32b4097ed7177b2"
            ]
        ],
        "outputLabels": [
            "automatic cmd"
        ],
        "icon": "font-awesome/fa-file-sound-o",
        "l": false
    },
    {
        "id": "9d422d5bc8319019",
        "type": "comment",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "README",
        "info": "This group receive data of any event registered in sensfloor from the their gateway and,\ndepending of the action received, will do differents things/ say differents sentences.\n\nThe node that require our attention is named DEFINE ACTIONS & SPEECH and contains the fllowing struture, one for each event :\n\n/***********************************/\n\n    /*****ROOM IN ACTION*****/\n\nlet room_in_action = [];\nroom_in_action.push(\"action1\");\nflow.set(\"room_in_action\", room_in_action);\n\n    /*****ROOM IN SPEECH*****/\n\nflow.set(\"room_in_speech\",\"speech\");\n\n/***********************************/\n\nFor example, the structure above sets the actions and the speech for the event room_in.\n\n\n/****HOW TO PERSONALISE YOUR ACTIONS****/\n\nTo set-up your actions you need to edit this code line :\nroom_in_action.push(\"action1\");\n\nThere are three possibilities, you want only one action,you want more or you want none.\n\nIf you want one action, the line will look like this :\nroom_in_action.push(\"action1\");\nwhere action1 need to be replace by the action you want Aragon to do.\nDO NOT forget to put your action in double quotes and the semicolon at the end of the line.\n\nIf you want two or more there is not big change to do, you simply need to write your actions separated by a comma, like this :\nroom_in_action.push(\"action1\",\"action2\");\nDO NOT forget to put your action in double quotes and the semicolon at the end of the line.\n\nIf you dont want any action to be done just leave the bracket empty.\nDO NOT forget the semi colon at the end of the line\n\n\n/****HOW TO PERSONALISE YOUR SENTENCE****/\n\nTo edit the speech you will to modifie this line :\nflow.set(\"room_in_speech\",\"speech\");\n\nif you want to say something replace the word speech by the sentence you want to hear in double quotes,\nand if you dont want to hear anything, leave the double quotes empty (like that \"\")\n\nYou do not have to touch anything else\n\n\n\n\n\n\n\n\n\n",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "c34c39577c1384c1",
        "type": "split",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 415,
        "y": 260,
        "wires": [
            [
                "f458721efd86b8a1"
            ]
        ],
        "l": false
    },
    {
        "id": "7433d71d5a2e2fa8",
        "type": "link out",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "speaker out",
        "mode": "link",
        "links": [
            "3bd57099.afbdb8"
        ],
        "x": 555,
        "y": 540,
        "wires": []
    },
    {
        "id": "0bce61397b909df3",
        "type": "link out",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "sensfloor cmd out",
        "mode": "link",
        "links": [
            "e01aa7e37688afd6"
        ],
        "x": 555,
        "y": 260,
        "wires": []
    },
    {
        "id": "8ad3dec0ce6c7d4d",
        "type": "debug",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 555,
        "y": 500,
        "wires": [],
        "l": false
    },
    {
        "id": "ca391518c5dfd833",
        "type": "debug",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 555,
        "y": 300,
        "wires": [],
        "l": false
    },
    {
        "id": "f5ed2959197c8526",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "room_out_action",
        "func": "msg = {};\nmsg.payload = flow.get(\"room_out_action\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 355,
        "y": 340,
        "wires": [
            [
                "675c8a74acc57c92"
            ]
        ],
        "l": false
    },
    {
        "id": "675c8a74acc57c92",
        "type": "split",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 415,
        "y": 340,
        "wires": [
            [
                "f458721efd86b8a1"
            ]
        ],
        "l": false
    },
    {
        "id": "a1c95a36eeffca66",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "bed_out_action",
        "func": "msg = {};\nmsg.payload = flow.get(\"bed_out_action\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 355,
        "y": 500,
        "wires": [
            [
                "c9df3b7eb7737370"
            ]
        ],
        "l": false
    },
    {
        "id": "c9df3b7eb7737370",
        "type": "split",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 415,
        "y": 500,
        "wires": [
            [
                "f458721efd86b8a1"
            ]
        ],
        "l": false
    },
    {
        "id": "6272e2fd70a85b44",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "bed_in_action",
        "func": "msg = {};\nmsg.payload = flow.get(\"bed_in_action\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 355,
        "y": 420,
        "wires": [
            [
                "f1d9beb6451edb07"
            ]
        ],
        "l": false
    },
    {
        "id": "f1d9beb6451edb07",
        "type": "split",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 415,
        "y": 420,
        "wires": [
            [
                "f458721efd86b8a1"
            ]
        ],
        "l": false
    },
    {
        "id": "edeb21444848f4aa",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "Prepare to ask if user is OK",
        "func": "let module = global.get(\"module\");\nlet language = module.settingsGetValue(\"msgLang\");\n\nlet siteId;\nglobal.set(\"helpCallTrigger\",\"floor\");\n\nif (language === \"de\") {\n    msg.payload.text = \"Wichtige Nachricht! Es sieht so aus, als wären Sie gestürzt, ich solle um Hilfe rufen?\";\n    siteId = \"Schlafzimmer\";\n} else if (language === \"fr\") {\n    msg.payload.text = \"Message important! il semblerait que vous soyez tombé, dois-je appeler de l'aide ?\";\n    siteId = \"Chambre\";\n} else {\n    msg.payload.text = \"Important message! it seems like you have fallen , shall I call for help?\";\n    siteId = \"Bedroom\";\n}\n\nif(msg.payload.siteId === undefined){\n    msg.payload.siteId = siteId;\n    node.warn(\"The siteId should come from sensflooer, now hardcoded to: \"+msg.payload.siteId);\n}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n    \n\n    \n \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 335,
        "y": 220,
        "wires": [
            [
                "23ba0bfd214b8064"
            ]
        ],
        "icon": "node-red/alert.svg",
        "l": false
    },
    {
        "id": "23ba0bfd214b8064",
        "type": "mqtt out",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "proknx/aal/queryuser",
        "topic": "proknx/aal/queryuser",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b7d2dbd0.c8ee4",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "80c72c4b8b6e8cf4",
        "type": "inject",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 165,
        "y": 120,
        "wires": [
            [
                "558661034b65d8b8"
            ]
        ],
        "l": false
    },
    {
        "id": "558661034b65d8b8",
        "type": "function",
        "z": "235276ecb41ab11f",
        "g": "b7e8cdd650aa9af7",
        "name": "DEFINE ACTIONS & SPEECH",
        "func": "/***********************************/\n\n    /*****ROOM IN ACTION*****/\n\nlet room_in_action = [];\nroom_in_action.push(\"turn on the bedroom\",\"turn on the bathroom\");\n//room_in_action.push(\"allume la chambre\",\"allume les toilettes\");\n\nflow.set(\"room_in_action\", room_in_action);\n\n    /*****ROOM IN SPEECH*****/\n\nflow.set(\"room_in_speech\",\"welcome\");\n//flow.set(\"room_in_speech\",\"bienvenue\");\n\n/***********************************/\n\n    /*****ROOM OUT ACTION*****/\n\nlet room_out_action = [];\nroom_out_action.push(\"turn off light everywhere\");\n//room_out_action.push(\"éteins partout\");\nflow.set(\"room_out_action\", room_out_action);\n\n    /*****ROOM OUT SPEECH*****/\n\nflow.set(\"room_out_speech\",\"you are leaving the room\");\n//flow.set(\"room_out_speech\",\"vous quittez la pièce\");\n\n/***********************************/\n\n    /*****BED IN ACTION*****/\n\nlet bed_in_action = [];\nbed_in_action.push(\"turn off light everywhere\");\n//bed_in_action.push(\"éteins partout\");\nflow.set(\"bed_in_action\", bed_in_action);\n\n    /*****BED IN SPEECH*****/\n\nflow.set(\"bed_in_speech\",\"you are in the bed\");\n//flow.set(\"bed_in_speech\",\"vous êtes dans le lit\");\n\n/***********************************/\n\n    /*****BED OUT ACTION*****/\n\nlet bed_out_action = [];\nbed_out_action.push(\"turn on the bathroom\");\n//bed_out_action.push(\"allume les toilettes\");\nflow.set(\"bed_out_action\", bed_out_action);\n\n\n    /*****BED OUT SPEECH*****/\n\nflow.set(\"bed_out_speech\",\"you are out of the bed\");\n//flow.set(\"bed_out_speech\",\"vous sortez du lit\");\n\n/***********************************/\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f96ab142.d8bab8",
        "type": "mqtt-broker",
        "z": "71472a4aca9b1454",
        "name": "-",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "info": "-"
    },
    {
        "id": "b7d2dbd0.c8ee4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]