unsorted-but-useful/forward-asr-say/forward-asr-say.json
[
    {
        "id": "25081358994cb033",
        "type": "tab",
        "label": "FORWARD ASR & SAY",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79c642872e02ce6e",
        "type": "mqtt in",
        "z": "25081358994cb033",
        "name": "",
        "topic": "hermes/asr/textCaptured",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f96ab142.d8bab8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "b5e857b0669913df"
            ]
        ]
    },
    {
        "id": "e2c988f8316e1940",
        "type": "http request",
        "z": "25081358994cb033",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "9f1297a23a67c709"
            ]
        ]
    },
    {
        "id": "9f1297a23a67c709",
        "type": "debug",
        "z": "25081358994cb033",
        "name": "debug request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 675,
        "y": 140,
        "wires": [],
        "l": false
    },
    {
        "id": "b5e857b0669913df",
        "type": "function",
        "z": "25081358994cb033",
        "name": "Prepare",
        "func": "var msgHttp = {};\nmsgHttp.url = \"192.168.1.11:1880/api/mirror?text=\" + encodeURIComponent(msg.payload.text);\nreturn msgHttp;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "e2c988f8316e1940"
            ]
        ]
    },
    {
        "id": "0c27d9b97596266e",
        "type": "comment",
        "z": "25081358994cb033",
        "name": "README",
        "info": "Configure IP and the path in the 'Prepare' node.",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "f56c7908dd5037d9",
        "type": "http in",
        "z": "25081358994cb033",
        "name": "",
        "url": "/api/mirror",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "1eccf8bd170c2454",
                "8605c16e044bd2eb"
            ]
        ]
    },
    {
        "id": "1eccf8bd170c2454",
        "type": "debug",
        "z": "25081358994cb033",
        "name": "debug end-point",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 295,
        "y": 360,
        "wires": [],
        "l": false
    },
    {
        "id": "8605c16e044bd2eb",
        "type": "http response",
        "z": "25081358994cb033",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "0e3c07cf86ae8081",
        "type": "mqtt in",
        "z": "25081358994cb033",
        "name": "",
        "topic": "hermes/tts/say",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f96ab142.d8bab8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "b5e857b0669913df"
            ]
        ]
    },
    {
        "id": "fb273890d6b15173",
        "type": "comment",
        "z": "25081358994cb033",
        "name": "Test end-point",
        "info": "",
        "x": 130,
        "y": 280,
        "wires": []
    },
    {
        "id": "f96ab142.d8bab8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]