unsorted-but-useful/forward-asr-say/forward-asr-say.json
[
    {
        "id": "7decbbbacf14f537",
        "type": "tab",
        "label": "FORWARD ASR & SAY",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc7b9dbc11786202",
        "type": "mqtt in",
        "z": "7decbbbacf14f537",
        "name": "",
        "topic": "hermes/asr/textCaptured",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f96ab142.d8bab8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "ef8f6ea35c11a205",
                "429fb75ec1bf595b"
            ]
        ]
    },
    {
        "id": "fa6642017495e4a8",
        "type": "http request",
        "z": "7decbbbacf14f537",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "ae98c28312700d49"
            ]
        ]
    },
    {
        "id": "ae98c28312700d49",
        "type": "debug",
        "z": "7decbbbacf14f537",
        "name": "debug request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 675,
        "y": 180,
        "wires": [],
        "l": false
    },
    {
        "id": "ef8f6ea35c11a205",
        "type": "function",
        "z": "7decbbbacf14f537",
        "name": "Prepare",
        "func": "const serverAddress = \"192.168.20.204:3777\";\nconst hintQuestion = \"Erläutern Sie, wie man das benutzt?\";\nconst hintReply = \"Stellen Sie der KI eine Frage: Sagen Sie zum Beispiel 'OK Aragon ... Wie ist die Wettervorhersage für heute?'\";\n\nif(!msg.payload.showhint){\n    if(!msg.payload || !msg.payload.text || msg.payload.text.length===0 || !msg.topic) {\n        node.warn(\"FORWARD ASR & SAY: Invalid input\")\n        return;\n    }\n}\n\nvar msgQuestion = {};\nvar msgReply = {};\nif(msg.topic=== \"hermes/asr/textCaptured\"){\n    if (msg.payload.text.length<10){\n        node.warn(\"FORWARD ASR & SAY: Skipping short text from ASR, probably false wake-up\")\n        return;\n    } else {       \n        msgQuestion.url = serverAddress + \"/hook/snipsfrage\" + \"?Message=\" + encodeURIComponent(msg.payload.text);\n        msgReply.url = serverAddress + \"/hook/snipsantwort\" + \"?Message=\";\n    }\n}\nelse if(msg.topic=== \"hermes/tts/say\"){\n    msgQuestion = null;\n    msgReply.url = serverAddress + \"/hook/snipsantwort\" + \"?Message=\" + encodeURIComponent(msg.payload.text);\n\n} else {\n    msgQuestion.url = serverAddress + \"/hook/snipsfrage\" + \"?Message=\" + encodeURIComponent(hintQuestion);\n    msgReply.url = serverAddress + \"/hook/snipsantwort\" + \"?Message=\" + encodeURIComponent(hintReply);\n}\n\nreturn [msgQuestion, msgReply];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "fa6642017495e4a8"
            ],
            [
                "fa6642017495e4a8"
            ]
        ],
        "outputLabels": [
            "Question",
            "Reply"
        ]
    },
    {
        "id": "076bf0f57a36f815",
        "type": "comment",
        "z": "7decbbbacf14f537",
        "name": "README",
        "info": "- Configure the 'serverAddress' in the 'Prepare' node.\n- Modify the Hint message  in the 'Prepare' node.\n- Disable the Hint message by turning off the 'inject once' in the 'Show hint'\n",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "103e4c163074cf71",
        "type": "http in",
        "z": "7decbbbacf14f537",
        "name": "",
        "url": "/hook/snipsfrage",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "2dacc245b6e85da5",
                "fc91cf619462ef6d"
            ]
        ]
    },
    {
        "id": "4b9b7d296cfccaa0",
        "type": "debug",
        "z": "7decbbbacf14f537",
        "name": "debug reply end-point (test)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 315,
        "y": 400,
        "wires": [],
        "l": false
    },
    {
        "id": "2dacc245b6e85da5",
        "type": "http response",
        "z": "7decbbbacf14f537",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "55b22b0144c4435c",
        "type": "mqtt in",
        "z": "7decbbbacf14f537",
        "name": "",
        "topic": "hermes/tts/say",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f96ab142.d8bab8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "ef8f6ea35c11a205",
                "6595a2e74fbf4fb4"
            ]
        ]
    },
    {
        "id": "8ea54372a13abf7f",
        "type": "comment",
        "z": "7decbbbacf14f537",
        "name": "Test end-points",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "429fb75ec1bf595b",
        "type": "debug",
        "z": "7decbbbacf14f537",
        "name": "debug request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 140,
        "wires": [],
        "l": false
    },
    {
        "id": "6595a2e74fbf4fb4",
        "type": "debug",
        "z": "7decbbbacf14f537",
        "name": "debug request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "be659c7bdee4d904",
        "type": "http in",
        "z": "7decbbbacf14f537",
        "name": "",
        "url": "/hook/snipsantwort",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "4b9b7d296cfccaa0",
                "2dacc245b6e85da5"
            ]
        ]
    },
    {
        "id": "fc91cf619462ef6d",
        "type": "debug",
        "z": "7decbbbacf14f537",
        "name": "debug question end-point (test)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 315,
        "y": 320,
        "wires": [],
        "l": false
    },
    {
        "id": "aa2b7172ce6a248e",
        "type": "inject",
        "z": "7decbbbacf14f537",
        "name": "Show hint",
        "props": [
            {
                "p": "payload.showhint",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 205,
        "y": 180,
        "wires": [
            [
                "ef8f6ea35c11a205"
            ]
        ],
        "l": false
    },
    {
        "id": "a03b9adc018902ea",
        "type": "http request",
        "z": "7decbbbacf14f537",
        "name": "GET /online/state",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost/online/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 250,
        "y": 500,
        "wires": [
            [
                "1a1c17243f967a50"
            ]
        ]
    },
    {
        "id": "1a1c17243f967a50",
        "type": "switch",
        "z": "7decbbbacf14f537",
        "name": "isOnline ?",
        "property": "payload.isOnline",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "f7026f775abe630c",
                "f7979aaf3e5aa322"
            ],
            [
                "f8d769ea1f82a200"
            ]
        ]
    },
    {
        "id": "f7979aaf3e5aa322",
        "type": "http request",
        "z": "7decbbbacf14f537",
        "name": "POST online=true",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost/online/state?online=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 630,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0bc309080bae7cdc",
        "type": "inject",
        "z": "7decbbbacf14f537",
        "name": "Show hint",
        "props": [
            {
                "p": "payload.showhint",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "x": 95,
        "y": 500,
        "wires": [
            [
                "a03b9adc018902ea"
            ]
        ],
        "l": false
    },
    {
        "id": "f8d769ea1f82a200",
        "type": "debug",
        "z": "7decbbbacf14f537",
        "name": "isOnline (nothing todo)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 555,
        "y": 520,
        "wires": [],
        "l": false
    },
    {
        "id": "f7026f775abe630c",
        "type": "debug",
        "z": "7decbbbacf14f537",
        "name": "isOffline",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 555,
        "y": 440,
        "wires": [],
        "l": false
    },
    {
        "id": "706b1987f241bdcf",
        "type": "comment",
        "z": "7decbbbacf14f537",
        "name": "Set state online, if offline",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "f96ab142.d8bab8",
        "type": "mqtt-broker",
        "z": "71b206887feac1a3",
        "name": "-",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "info": "-"
    }
]