unsorted-but-useful/forward-asr-say/forward-asr-say.json
[
    {
        "id": "4b8813f7bc5c3dae",
        "type": "tab",
        "label": "FORWARD ASR & SAY",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bfc2b2cf2559472f",
        "type": "mqtt in",
        "z": "4b8813f7bc5c3dae",
        "name": "",
        "topic": "hermes/asr/textCaptured",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f96ab142.d8bab8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "60f31c137a37980f",
                "8ebc0cd4d6f821f9"
            ]
        ]
    },
    {
        "id": "488ed46677fe10e8",
        "type": "http request",
        "z": "4b8813f7bc5c3dae",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "31dfa695b40b8432"
            ]
        ]
    },
    {
        "id": "31dfa695b40b8432",
        "type": "debug",
        "z": "4b8813f7bc5c3dae",
        "name": "debug request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 675,
        "y": 180,
        "wires": [],
        "l": false
    },
    {
        "id": "60f31c137a37980f",
        "type": "function",
        "z": "4b8813f7bc5c3dae",
        "name": "Prepare",
        "func": "const serverAddress = \"192.168.1.11:1880\";\nconst hintQuestion = \"Explain, how to use this?\";\nconst hintReply = \"Ask AI a question: e.g. say  'OK Aragon ... What's the weather forecast for today? \";\n\nif(!msg.payload.showhint){\n    if(!msg.payload || !msg.payload.text || msg.payload.text.length===0 || !msg.topic) {\n        node.warn(\"FORWARD ASR & SAY: Invalid input\")\n        return;\n    }\n}\n\nvar msgQuestion = {};\nvar msgReply = {};\nif(msg.topic=== \"hermes/asr/textCaptured\"){\n    msgQuestion.url = serverAddress + \"/aragon/question\" + \"?text=\" + encodeURIComponent(msg.payload.text);\n    msgReply.url = serverAddress + \"/aragon/reply\" + \"?text=\";\n}\nelse if(msg.topic=== \"hermes/tts/say\"){\n    msgQuestion = null;\n    msgReply.url = serverAddress + \"/aragon/reply\" + \"?text=\" + encodeURIComponent(msg.payload.text);\n\n} else {\n    msgQuestion.url = serverAddress + \"/aragon/question\" + \"?text=\" + encodeURIComponent(hintQuestion);\n    msgReply.url = serverAddress + \"/aragon/reply\" + \"?text=\" + encodeURIComponent(hintReply);\n}\n\nreturn [msgQuestion, msgReply];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "488ed46677fe10e8"
            ],
            [
                "488ed46677fe10e8"
            ]
        ],
        "outputLabels": [
            "Question",
            "Reply"
        ]
    },
    {
        "id": "5c68c7cf47d29495",
        "type": "comment",
        "z": "4b8813f7bc5c3dae",
        "name": "README",
        "info": "- Configure the 'serverAddress' in the 'Prepare' node.\n- Modify the Hint message  in the 'Prepare' node.\n- Disable the Hint message by turning off the 'inject once' in the 'Show hint'\n",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a59741ea540fa86",
        "type": "http in",
        "z": "4b8813f7bc5c3dae",
        "name": "",
        "url": "/aragon/question",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "3acf12d0bb9da0bb",
                "36fbe39bc38daa06"
            ]
        ]
    },
    {
        "id": "7d71f6e940c4a336",
        "type": "debug",
        "z": "4b8813f7bc5c3dae",
        "name": "debug reply end-point (test)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 315,
        "y": 400,
        "wires": [],
        "l": false
    },
    {
        "id": "3acf12d0bb9da0bb",
        "type": "http response",
        "z": "4b8813f7bc5c3dae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "9cbb6c7ef898bac9",
        "type": "mqtt in",
        "z": "4b8813f7bc5c3dae",
        "name": "",
        "topic": "hermes/tts/say",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f96ab142.d8bab8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "60f31c137a37980f",
                "364ac9383940131f"
            ]
        ]
    },
    {
        "id": "84fff16b5d21538b",
        "type": "comment",
        "z": "4b8813f7bc5c3dae",
        "name": "Test end-points",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "8ebc0cd4d6f821f9",
        "type": "debug",
        "z": "4b8813f7bc5c3dae",
        "name": "debug request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 140,
        "wires": [],
        "l": false
    },
    {
        "id": "364ac9383940131f",
        "type": "debug",
        "z": "4b8813f7bc5c3dae",
        "name": "debug request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "3fb8a0c1bc661048",
        "type": "http in",
        "z": "4b8813f7bc5c3dae",
        "name": "",
        "url": "/aragon/reply",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "7d71f6e940c4a336",
                "3acf12d0bb9da0bb"
            ]
        ]
    },
    {
        "id": "36fbe39bc38daa06",
        "type": "debug",
        "z": "4b8813f7bc5c3dae",
        "name": "debug question end-point (test)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 315,
        "y": 320,
        "wires": [],
        "l": false
    },
    {
        "id": "2b0b6e8a892fb416",
        "type": "inject",
        "z": "4b8813f7bc5c3dae",
        "name": "Show hint",
        "props": [
            {
                "p": "payload.showhint",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 205,
        "y": 180,
        "wires": [
            [
                "60f31c137a37980f"
            ]
        ],
        "l": false
    },
    {
        "id": "f96ab142.d8bab8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]