homebridge/homebridge.json
[
    {
        "id": "4bb16ae3ba77a429",
        "type": "tab",
        "label": "HOMEBRIDGE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "25c4e4a26efb054f",
        "type": "group",
        "z": "4bb16ae3ba77a429",
        "name": "ADD DEVICES TO HOMEBRIDGE",
        "style": {
            "label": true
        },
        "nodes": [
            "5901fc9a79643c7d",
            "a442010906c6d576",
            "daf8c5121476869e",
            "b5eb98fa0e0ccd97",
            "c142ba7826d7a867",
            "7ed163bd4112892d",
            "c18d1eba13025618",
            "e3c587e94f958b8b",
            "11f95adc6c50c474",
            "ba9271aa63f0d3e3",
            "bc8e0c2d2f229425"
        ],
        "x": 94,
        "y": 91.5,
        "w": 902,
        "h": 129.5
    },
    {
        "id": "a174a53181a26bf0",
        "type": "group",
        "z": "4bb16ae3ba77a429",
        "name": "HANDLE SET REQUESTS",
        "style": {
            "label": true
        },
        "nodes": [
            "489aeaa88522d097",
            "2d0a788aaf5e16f0",
            "28ddcef0e1bf288d",
            "a8bd4557d1017d83",
            "424c17b9bbc32ad0",
            "695488a2db8ef691"
        ],
        "x": 94,
        "y": 239,
        "w": 582,
        "h": 182
    },
    {
        "id": "a442010906c6d576",
        "type": "file in",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "get config",
        "filename": "/var/lib/homebridge/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "daf8c5121476869e"
            ]
        ]
    },
    {
        "id": "daf8c5121476869e",
        "type": "json",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 505,
        "y": 140,
        "wires": [
            [
                "bc8e0c2d2f229425",
                "5901fc9a79643c7d"
            ]
        ],
        "l": false
    },
    {
        "id": "5901fc9a79643c7d",
        "type": "function",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "Add devices",
        "func": "// If you add or edit Mqttthing devices from the Homebridge plugin, they will loose their Aragon settings. When you add Aragon\n// all mqttthings will be replaced. To replace only Aragon devices, set replaceAragonOnly to true, save and add devices\nvar replaceAragonOnly = false; \n\nvar module = global.get(\"module\");\nvar devices = module.settingsGetValue(\"msgDeviceList\");\n\n// Ensure there's an accessories array\nif (!msg.payload.accessories) {\n    msg.payload.accessories = [];\n}\n\nnode.warn(\"Number of Homebridge accessories before: \" + msg.payload.accessories.length);\n\nif(replaceAragonOnly){\n    msg.payload.accessories = msg.payload.accessories.filter(item => !(item.aragon));\n} else {\n    msg.payload.accessories = msg.payload.accessories.filter(item => !(item.accessory = \"mqttthing\"));\n}\n\nvar zoneNumbers = {};\nvar currentNumber = 1;\n\n// Enumerate devices and create accessories for dimmers\ndevices.forEach(function(device) {\n // If the zone is not in zoneNumbers, add it and initialize its number to 1\n    if (!zoneNumbers.hasOwnProperty(device.zone)) {\n        zoneNumbers[device.zone] = currentNumber++;\n    }\n\n    // Get the unique number for the zone and increment it for the next device in the same zone\n    var zoneNumber = zoneNumbers[device.zone];\n    \n    // Pad the zoneNumber with a leading zero if it's less than 10\n    var paddedZoneNumber = zoneNumber.toString().padStart(2, '0');\n\n    // Add the paddedZoneNumber at the beginning of the id string\n    var id = paddedZoneNumber + \" \" + device.zone + \" - \" + device.object;\n    \n    var data = { \n        \"aragon\": { \n            \"type\": device.type,\n            \"object\": device.object,\n            \"zone\": device.zone\n        }\n    };\n\n    if (device.type === \"dimmers\") {\n        let newAccessory = {\n            \"type\": \"lightbulb-Dimmable\",\n            \"name\": id,\n            \"debounceRecvms\": 2000,\n            \"optimizePublishing\": true,\n            \"topics\": {\n                //\"getOnline\": \"aragon/getOnline\",\n                //\"getOn\": \"aragon/getOn/\" + JSON.stringify(data),\n                \"setOn\": \"aragon/setOn/\" + JSON.stringify(data),\n                //\"getBrightness\": \"aragon/getBrightness/\" + JSON.stringify(data),\n                \"setBrightness\": \"aragon/setBrightness/\" + JSON.stringify(data)\n            },\n            \"aragon\": {\n               \"type\": device.type,\n               \"object\": device.object,\n               \"zone\": device.zone\n            },\n            \"integerValue\": false,\n            \"onValue\": \"on\",\n            \"offValue\": \"off\",            \n            \"manufacturer\": \"Aragon\",\n            \"accessory\": \"mqttthing\"\n        };\n        // Add the new accessory to the payload\n        msg.payload.accessories.push(newAccessory);\n    }\n    else if (device.type === \"lights\") {\n        let newAccessory = {\n            \"type\": \"lightbulb\",\n            \"name\": id,\n            \"debounceRecvms\": 2000,\n            \"optimizePublishing\": true,\n            \"topics\": {\n                //\"getOnline\": \"aragon/getOnline\",\n                //\"getOn\": \"aragon/getOn/\" + JSON.stringify(data),\n                \"setOn\": \"aragon/setOn/\" + JSON.stringify(data)\n            },\n            \"aragon\": {\n                \"type\": device.type,\n                \"object\": device.object,\n                \"zone\": device.zone\n            },\n            \"integerValue\": false,\n            \"onValue\": \"on\",\n            \"offValue\": \"off\",            \n            \"manufacturer\": \"Aragon\",\n            \"accessory\": \"mqttthing\"\n        };\n        // Add the new accessory to the payload\n        msg.payload.accessories.push(newAccessory);\n    } else if (device.type === \"scenes\") {\n        let newAccessory = {\n            \"type\": \"switch\",\n            \"name\": id,\n            \"debounceRecvms\": 2000,\n            \"optimizePublishing\": true,\n            \"topics\": {\n                //\"getOnline\": \"aragon/getOnline\",\n                //\"getOn\": \"aragon/getOn/\" + JSON.stringify(data),\n                \"setOn\": \"aragon/setOn/\" + JSON.stringify(data)\n            },\n            \"aragon\": {\n                \"type\": device.type,\n                \"object\": device.object,\n                \"zone\": device.zone\n            },\n            \"turnOffAfterms\": 1000,\n            \"integerValue\": false,\n            \"onValue\": \"on\",\n            \"offValue\": \"off\",              \n            \"manufacturer\": \"Aragon\",\n            \"accessory\": \"mqttthing\"\n        };\n        // Add the new accessory to the payload\n        msg.payload.accessories.push(newAccessory);\n    }\n});\n\nnode.warn(\"Number of Homebridge accessories after: \" + msg.payload.accessories.length);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "b5eb98fa0e0ccd97"
            ]
        ]
    },
    {
        "id": "b5eb98fa0e0ccd97",
        "type": "json",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 745,
        "y": 140,
        "wires": [
            [
                "c142ba7826d7a867"
            ]
        ],
        "l": false
    },
    {
        "id": "c142ba7826d7a867",
        "type": "file",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "save",
        "filename": "/var/lib/homebridge/config.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 850,
        "y": 140,
        "wires": [
            [
                "e3c587e94f958b8b"
            ]
        ]
    },
    {
        "id": "7ed163bd4112892d",
        "type": "inject",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "Inject devices",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Skipped!",
        "payloadType": "str",
        "x": 155,
        "y": 140,
        "wires": [
            [
                "11f95adc6c50c474"
            ]
        ],
        "l": false
    },
    {
        "id": "c18d1eba13025618",
        "type": "exec",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "command": "sudo chmod 666 /var/lib/homebridge/config.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Make it writable",
        "x": 285,
        "y": 140,
        "wires": [
            [
                "a442010906c6d576"
            ],
            [],
            []
        ],
        "l": false
    },
    {
        "id": "e3c587e94f958b8b",
        "type": "exec",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "command": "sudo systemctl restart  homebridge.service",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "restart HB",
        "x": 955,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ],
        "l": false
    },
    {
        "id": "11f95adc6c50c474",
        "type": "delay",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 225,
        "y": 140,
        "wires": [
            [
                "c18d1eba13025618"
            ],
            [
                "ba9271aa63f0d3e3"
            ]
        ],
        "l": false
    },
    {
        "id": "ba9271aa63f0d3e3",
        "type": "debug",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "Skipped (rate limit 30 sec)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 285,
        "y": 180,
        "wires": [],
        "l": false
    },
    {
        "id": "bc8e0c2d2f229425",
        "type": "debug",
        "z": "4bb16ae3ba77a429",
        "g": "25c4e4a26efb054f",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 575,
        "y": 180,
        "wires": [],
        "l": false
    },
    {
        "id": "489aeaa88522d097",
        "type": "mqtt in",
        "z": "4bb16ae3ba77a429",
        "g": "a174a53181a26bf0",
        "name": "",
        "topic": "aragon/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f96ab142.d8bab8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "2d0a788aaf5e16f0",
                "28ddcef0e1bf288d"
            ]
        ]
    },
    {
        "id": "2d0a788aaf5e16f0",
        "type": "debug",
        "z": "4bb16ae3ba77a429",
        "g": "a174a53181a26bf0",
        "name": "nlu-requests",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 315,
        "y": 280,
        "wires": [],
        "l": false
    },
    {
        "id": "28ddcef0e1bf288d",
        "type": "delay",
        "z": "4bb16ae3ba77a429",
        "g": "a174a53181a26bf0",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 325,
        "y": 320,
        "wires": [
            [
                "a8bd4557d1017d83"
            ]
        ],
        "l": false
    },
    {
        "id": "a8bd4557d1017d83",
        "type": "function",
        "z": "4bb16ae3ba77a429",
        "g": "a174a53181a26bf0",
        "name": "Prepare",
        "func": "var module = global.get(\"module\");\nvar msgAdapter = module.settingsGetValue(\"msgAdapter\");\n\nvar topicParts = msg.topic.split(\"/\");\nvar subTopic = topicParts[1]; // This will be 'setOn', 'setBrightness' etc\nvar dataString = topicParts.slice(2).join(\"/\"); // Reconstruct the data part of the topic\nvar data = JSON.parse(dataString); // Parse the JSON string to an object\n\n// Now 'data' contains the object with the 'aragon' property\nvar type = data.aragon.type;\nvar object = data.aragon.object;\nvar zone = data.aragon.zone;\nvar text = \"\";\nvar value = msg.payload;\n\n// Function to check if zone exists in msgAdapter, and assign first siteName to zone if not\nfunction checkAndAssignSiteName(msgAdapter, zone) {\n  // Check if any object in msgAdapter has a siteName equal to zone\n  const siteExists = msgAdapter.find(adapter => adapter.siteName === zone);\n\n  // If zone doesn't exist in msgAdapter, assign zone the siteName of the first object\n  if (!siteExists) {\n    zone = msgAdapter[0].siteName;\n  }\n\n  return zone;\n}\n\nfunction limitPercentValue(val){\n    let intValue = parseInt(val, 10);\n    if (isNaN(intValue) || intValue < 1 || intValue > 100) {\n        intValue = 1;\n    }\n    else if (intValue > 100) {\n        intValue = 100;\n    }\n    return intValue.toString();\n}\n\n//node.warn(\"type: \" + type + \" subTopic: \" + subTopic + \" value: \" + value + \" object: \" + object + \" zone: \" + zone );\n\nswitch(type){\n    case \"dimmers\":\n        switch(subTopic){\n            case \"setBrightness\": \n                text = \"Set the \" + zone + \" \" + object + \" brightness to \" + limitPercentValue(value) + \" percent\";\n                break;\n            case \"setOn\":\n                text = zone + \" \" + object + \" \" + value;\n                break;\n            default:\n                node.warn(\"Unhandled action in 'dimmers' \" + subTopic);\n                break;\n        }\n        break;\n    case \"lights\":\n        switch(subTopic){\n            case \"setOn\":\n                text = zone + \" \" + object + \" \" + value;\n                break;\n            default:\n                node.warn(\"Unhandled action in 'lights' \" + subTopic);\n                break;\n        }\n        break;\n    case \"scenes\":\n        switch(subTopic){\n            case \"setOn\":\n                if(value.toLowerCase() === 'on'){\n                    text = \"Activate \" + zone + \" \" + object;\n                }\n                break;\n            default:\n                node.warn(\"Unhandled action in 'scenes' \" + subTopic);\n                break;\n        }\n        break;\n}\nif(text===''){\n    return;\n}\n\n//node.warn(\"To NLU: \"+text);\nmsg.payload = {};\nmsg.payload.input = text;\nmsg.payload.siteId = checkAndAssignSiteName(msgAdapter, zone);\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "695488a2db8ef691",
                "424c17b9bbc32ad0"
            ]
        ]
    },
    {
        "id": "424c17b9bbc32ad0",
        "type": "mqtt out",
        "z": "4bb16ae3ba77a429",
        "g": "a174a53181a26bf0",
        "name": "",
        "topic": "hermes/nlu/query",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d9c3d6a2a1e9b06",
        "x": 615,
        "y": 320,
        "wires": [],
        "l": false
    },
    {
        "id": "695488a2db8ef691",
        "type": "debug",
        "z": "4bb16ae3ba77a429",
        "g": "a174a53181a26bf0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 615,
        "y": 380,
        "wires": [],
        "l": false
    },
    {
        "id": "f02f4ba3ec16997b",
        "type": "comment",
        "z": "4bb16ae3ba77a429",
        "name": "README",
        "info": "This flow adds the Aragon devices to the Homebridge and enables control from HomeKit and Siri.\nAdditionally, Homebridge comes with a web based dashboard that can be used from any browser.\n\nDo this:\n1. Install the Homebridge plugin `Homebridge Mqttthing`\n1. Import and Deploy this flow in Node-RED\n1. Press the `Inject devices` button, wait 15 seconds\n1. Open Homebridge Accessories and vrify that the device can be controlled.",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "f96ab142.d8bab8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d9c3d6a2a1e9b06",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]