axis/axis.json
[
    {
        "id": "cf6d20874c28dad9",
        "type": "tab",
        "label": "AXIS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0d05c51afc9314f",
        "type": "debug",
        "z": "cf6d20874c28dad9",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 655,
        "y": 220,
        "wires": [],
        "l": false
    },
    {
        "id": "eacce9f4048b3dea",
        "type": "function",
        "z": "cf6d20874c28dad9",
        "name": "Prepare command to upload and play ",
        "func": "// Create a user account http://<IP>/audio/index.html#/system/accounts\nvar username = \"user\";\nvar password = \"mypassword\";\n\n// Set the IP (and protocol)\nvar ip = \"192.168.1.14\";\nvar protocol = \"http://\";\n\nvar pathToFile = \"/tmp/aragon.wav\";\nvar removeCmd = 'curl -X POST -u ' + username + ':' + password + ' --digest \"' + protocol + ip + '/axis-cgi/mediaclip.cgi?action=remove&clip=0&media=audio&name=aragon&location=aragon.wav\" ';\nvar uploadCmd = 'curl -X POST -u ' + username + ':' + password + ' --digest -F \"file=@' + pathToFile + ';type=audio/basic\" \"' + protocol + ip + '/axis-cgi/mediaclip.cgi?action=upload&media=audio&name=aragon&location=aragon.wav\" '; \nvar playCmd = 'curl  -X GET -u ' + username + ':' + password + ' --digest \"' + protocol + ip + '/axis-cgi/playclip.cgi?location=aragon.wav&repeat=0&volume=100&audiodeviceid=0&audiooutputid=0\"';\n\nmsg.payload = removeCmd + ' ; ' + uploadCmd + ' ; ' + playCmd;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "5e6f0ddce4196706",
                "cf1f56f68b9cd83c"
            ]
        ]
    },
    {
        "id": "cf1f56f68b9cd83c",
        "type": "exec",
        "z": "cf6d20874c28dad9",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "8ebd11172931409e"
            ],
            [
                "b4499f7c6bb8804f"
            ],
            [
                "7cdf8d741c28a8b9"
            ]
        ]
    },
    {
        "id": "8ebd11172931409e",
        "type": "debug",
        "z": "cf6d20874c28dad9",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 865,
        "y": 100,
        "wires": [],
        "l": false
    },
    {
        "id": "b4499f7c6bb8804f",
        "type": "debug",
        "z": "cf6d20874c28dad9",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 865,
        "y": 140,
        "wires": [],
        "l": false
    },
    {
        "id": "7cdf8d741c28a8b9",
        "type": "debug",
        "z": "cf6d20874c28dad9",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 865,
        "y": 180,
        "wires": [],
        "l": false
    },
    {
        "id": "1e5a5fb07e7def46",
        "type": "catch",
        "z": "cf6d20874c28dad9",
        "name": "",
        "scope": [
            "eacce9f4048b3dea",
            "cf1f56f68b9cd83c"
        ],
        "uncaught": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "f0d05c51afc9314f"
            ]
        ]
    },
    {
        "id": "239b0bd46087e7c6",
        "type": "mqtt in",
        "z": "cf6d20874c28dad9",
        "name": "hermes/sayfile",
        "topic": "hermes/audioServer/+/playBytes/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "f96ab142.d8bab8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "15965b1e71031694",
                "e99af9e19c489d9e"
            ]
        ]
    },
    {
        "id": "15965b1e71031694",
        "type": "file",
        "z": "cf6d20874c28dad9",
        "name": "Save to temporary file",
        "filename": "/tmp/aragon.wav",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 295,
        "y": 140,
        "wires": [
            [
                "eacce9f4048b3dea"
            ]
        ],
        "l": false
    },
    {
        "id": "e99af9e19c489d9e",
        "type": "debug",
        "z": "cf6d20874c28dad9",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 295,
        "y": 100,
        "wires": [],
        "l": false
    },
    {
        "id": "5e6f0ddce4196706",
        "type": "debug",
        "z": "cf6d20874c28dad9",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 715,
        "y": 100,
        "wires": [],
        "l": false
    },
    {
        "id": "d2aff328453381ef",
        "type": "comment",
        "z": "cf6d20874c28dad9",
        "name": "README",
        "info": "## Copy all audio to AXIS speaker\nThis flow will send a copy of audio messages (any Aragon siteId) to the Axis speaker.\nIf you want to play only a specific siteId, see below.\n**Configuration** is required: open the \"Prepare command to upload and play\" and set:\n- IP of Axis speaker\n- Username and passwword\n\n## AXIS resources and links (change to your IP)\n1. [Media-clip API](https://www.axis.com/vapix-library/subjects/t10100065/section/t10036045/display)\n1. [Media clips](http://192.168.1.14/audio/index.html#/audio/clips)\n1. [Accounts](http://192.168.1.14/audio/index.html#/system/accounts)\n1. [Volume](http://192.168.1.14/audio/index.html#/audio/device-settings/device-0)\n\n## Code to play only a specific siteId \n// Example msg.topic: \"hermes/audioServer/Kitchen/playBytes/70c9fad9-ac73-408b-a092-8fee9b1bf3ee\"\n// 1. Split the topic by '/' and get the third parameter\nvar topicParts = msg.topic.split('/');\nvar thirdParam = topicParts[2]; // Assuming the topic has at least three parts\n\n// Check if the third parameter is 'kitchen', case insensitive\nif (thirdParam.toLowerCase() !== 'kitchen') {\n    // If it's not 'kitchen', log an error and stop processing\n    node.error(\"Topic does not contain 'kitchen'\", msg);\n    return null; // Stop the execution and return nothing\n}\n\n// If it is 'kitchen', continue processing\nreturn msg; // Pass the message to the next node",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "f96ab142.d8bab8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]